#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

.hrect1
{
    fill: white;
    stroke: black;
    height: 300px;
    width: 500px;
}

.citiesName {
    font-size: 30px;
    font-weight: bold;
}

.axis { font: 18px sans-serif; }