#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

<<<<<<< HEAD
#sections > div{
	opacity: .3;
  margin-bottom: 600px;
}
h1{
  margin: 20px;
}

#sections div.graph-scroll-active{
	opacity: 1;
}

#container{
  position: relative;
}

#sections{
  width: 340px;
}

#graph{
  width: 500px;
  margin-left: 380px;
  position: absolute;
  top: 0px;
}

.graph-scroll-fixed #graph{
  position: fixed;
}

.graph-scroll-below #graph{
  position: absolute;
  bottom: 0px;
}
=======
.hrect1
{
    fill: white;
    stroke: black;
    height: 300px;
    width: 500px;
}

.citiesName {
    font-size: 30px;
    font-weight: bold;
}

.axis { font: 18px sans-serif; }
>>>>>>> bar_chart_test
